.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
input{
  margin-right:20rem;
}
.super-card{
  margin-bottom: 10px;
  width: 300px;
  height: 220px;
}
.title{
  margin-left: 5rem;
}
.super-card{
  margin: 10px auto;
}
.mat-raised-button{
  margin-left: 10px;
}

